html{
    font-family: sans-serif,system-ui;
}
body{
    background-color:#00ffff44;

    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    
    /* 确保背景重绘 */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}/* 稳定的全屏布局方案 */
body, .app-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 允许内部滚动 */
}
nav{
    background-color:deepskyblue;
    border-radius: 0 0 0.5cm 0.5cm;
    height:1.3cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.navdiv-l{
    display: flex;
    align-items: center;
    gap: 5px;
}
.navdiv-r{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.navbox{
    border-radius: 3px;
    background-color:#0000;
    padding:2px;
    margin:0 3px;
    text-decoration: none;
}
.navbox:hover{
    background-color:#0003;
}.navbox-circle:hover{
    background-color:#0003;
}
.navitem{
    color:white;
    text-decoration: none;
}
.github-icon{
    border-radius:50%;
    background-color:white;
}
.mid{
    margin:0 auto;
    align-self: center;
    text-align: center;
}
.white{background-color:white;}
.round{
    border-radius: 0.5cm;
    padding:0.5cm;
}
.margined{margin:3cm;}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#ev-input{
    outline: none;
    border-color: deepskyblue;
    border-radius:5px;
    padding:5px;
    height:0.5cm;
    font-size:0.4cm;
    caret-color: deepskyblue;
}
#ev-input:hover{
    background-color:#00ffff44;
}
#last-ev{
    display: none;
    color:gainsboro;
    font-size:small;
}