<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<title>首页 - calculatorMax</title>
		<link rel="stylesheet" href="/assets/style.css">
	</head>
	<body>
		<script src="/assets/script.js"></script>
		<noscript>
			<h1>啊哦 :(</h1>
			<p>
				JavaScript不支持<br>
				<strong>可能的解决办法：</strong>
				<ul>
					<li>升级PyWebview：<code>pip install --upgrade pywebview</code></li>
					<li>联系开发者</li>
				</ul>
			</p>
		</noscript>
		<nav>
			<div class="navdiv-l">
				<a href="/" class="navbox">
					<strong class="navitem">CalculatorMax</strong>
				</a>
				<a href="/calc" class="navbox">
					<span class="navitem">计算器</span>
				</a>
				<a href="/fx" class="navbox">
					<span class="navitem">解方程</span>
				</a>
				<a href="/matplot" class="navbox">
					<span class="navitem">数学绘图</span>
				</a>
				<a href="/painter2d" class="navbox" style="display:none">
					<span class="navitem">(Beta)2D绘图</span>
				</a>
				<a href="/painter3d" class="navbox" style="display:none">
					<span class="navitem">(Beta)3D绘图</span>
				</a>
			</div>
			<div class="navdiv-r">
				<a href="/about" class="navbox">
					<span class="navitem">文档</span>
				</a>
				<a href="/settings" class="navbox">
					<span class="navitem">设置</span>
				</a>
				<a href="https://github.com/6871296/calculatorMax" class="navbox">
					<span class="navitem"><img src="https://github.githubassets.com/favicons/favicon.svg" class="github-icon"></span>
				</a>
			</div>
		</nav>
		<h1>CalculatorMax</h1>
		<main class="mid">
			主页还在制作中！
		</main>
		<footer>
			<div tips>
				<h3 id="tips-title">Tips</h3>
				<span id="tips">正在加载中……</span>
			</div>
			<button onclick="document.documentElement.scrollTop = 0;" id="btn-totop">回到顶部</button>
		</footer>
	</body>
</html>